<a href="https://colab.research.google.com/github/Bhavish-Makkar/Python_Data_Analytics/blob/main/Assignment_Python_Type_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Convert an integer to an floating-point number.

In [1]:
number=int(input("Enter The Number"))
float_number=float(number)
print(float_number)

Enter The Number8
8.0

 Convert an float to an integer.

In [2]:
number=float(input("enter the number"))
int_number=int(number)
print(number)

enter the number4.5
4.5

 Convert an integer to a string

In [4]:
number=int(input("Enter The Number"))
my_string=str(number)
print(my_string)
type(my_string)

Enter The Number5
5

str

Convert a List To Tuple

In [1]:
my_list=[1,2,3,4,"hello",True]
my_tuple=tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 'hello', True)

Convert a tuple to a list.

In [2]:
my_tuple=(1,2,3,"hello",True)
my_list=list(my_tuple)
print(my_list)

[1, 2, 3, 'hello', True]

Convert a decimal number to binary.

In [3]:
num=9
binary_num=bin(num)
print(binary_num)

0b1001

Convert an non-zero number to boolean.

In [4]:
a=9
bool_value=bool(a)
print(bool_value)

True