<a href="https://colab.research.google.com/github/Bhavish-Makkar/Python_Data_Analytics/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print number from 1 to 5 using a while loop.

In [3]:
i=1
while(i<=5):
  print(i)
  i+=1

1
2
3
4
5

Calculate the sum of number from 1 to 10 using a while loop.

In [5]:
i=1
sum=0 #initialise sum with 0
while(i<=10):
  sum+=i
  i+=1
print(sum)

55

Calculate the factorial of a number using a for loop.

In [7]:
num=int(input("enter the number "))
prod=1#initalise the product with 1
for i in range(1,num+1):
  prod*=i
print(prod)

enter the number 6
720

Count the number of vowels in a string using a for loop.

In [12]:
my_string=input("Enter The String-: ")
count=0
for x in my_string:

  if(x=='a' or x=='e' or x=='i' or x=='o' or x=='u'):
   count+=1
print(count)

Enter The String-: Bhavish
2

Print a pattern using nested loop.

In [15]:
i=4
for i in range(4):# i go to 0 to 3
  for j in range(i+1):# j go to 0 to i
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

Generate a multiplication table using nested loop.

In [17]:
for i in range (1,11):#table of 1 To 10
  for j in range(1,11):
    print(f"{i}*{j}--> {i*j}")

  print()

1*1--> 1
1*2--> 2
1*3--> 3
1*4--> 4
1*5--> 5
1*6--> 6
1*7--> 7
1*8--> 8
1*9--> 9
1*10--> 10

2*1--> 2
2*2--> 4
2*3--> 6
2*4--> 8
2*5--> 10
2*6--> 12
2*7--> 14
2*8--> 16
2*9--> 18
2*10--> 20

3*1--> 3
3*2--> 6
3*3--> 9
3*4--> 12
3*5--> 15
3*6--> 18
3*7--> 21
3*8--> 24
3*9--> 27
3*10--> 30

4*1--> 4
4*2--> 8
4*3--> 12
4*4--> 16
4*5--> 20
4*6--> 24
4*7--> 28
4*8--> 32
4*9--> 36
4*10--> 40

5*1--> 5
5*2--> 10
5*3--> 15
5*4--> 20
5*5--> 25
5*6--> 30
5*7--> 35
5*8--> 40
5*9--> 45
5*10--> 50

6*1--> 6
6*2--> 12
6*3--> 18
6*4--> 24
6*5--> 30
6*6--> 36
6*7--> 42
6*8--> 48
6*9--> 54
6*10--> 60

7*1--> 7
7*2--> 14
7*3--> 21
7*4--> 28
7*5--> 35
7*6--> 42
7*7--> 49
7*8--> 56
7*9--> 63
7*10--> 70

8*1--> 8
8*2--> 16
8*3--> 24
8*4--> 32
8*5--> 40
8*6--> 48
8*7--> 56
8*8--> 64
8*9--> 72
8*10--> 80

9*1--> 9
9*2--> 18
9*3--> 27
9*4--> 36
9*5--> 45
9*6--> 54
9*7--> 63
9*8--> 72
9*9--> 81
9*10--> 90

10*1--> 10
10*2--> 20
10*3--> 30
10*4--> 40
10*5--> 50
10*6--> 60
10*7--> 70
10*8--> 80
10*9--> 90
10*10--> 100

In [ ]:
s