<a href="https://colab.research.google.com/github/Bhavish-Makkar/Python_Data_Analytics/blob/main/PythonOperators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Calculate The Sum ,Difference, Product,quotient of two number

In [1]:
num1=int(input("Enter The First Number"))
num2=int(input("Enter The Second Number"))
add=num1+num2 #addition of two number
sub=num1-num2#subtraction of two number
mult=num1*num2#multiplication of two number
quot=num1//num2#quotient of two number
print(add)
print(sub)
print(mult)
print(quot)

Enter The First Number5
Enter The Second Number2
7
3
10
2

Perform Various Assignment Operation On The Variable

In [2]:
a=10 #simple Assignment
#Compound Assignment Operation
a+=10 #a=a+10
print(a)

20

In [3]:
a-=10 #a=a-10
print(a)

10

In [4]:
a*=10 #a=a*10
print(a)

100

In [5]:
a//=10 #a=a//10
print(a)

10

In [6]:

a**=2#a=a**2
print(a)

100

In [7]:
a/=10 #a=a/10
print(a)

10.0

Compare Two Numbers And Print The Result

In [8]:
num1=int(input("Enter The First Number"))
num2=int(input("Enter The Second Number"))
if(num1>num2):
  print("num1 is greater than num2")
elif(num1<num2):
  print("num1 is smaller than num2")
else:
  print("num1 is equal to num2")

Enter The First Number4
Enter The Second Number5
num1 is smaller than num2

Check The Condition Using Logical Operators

In [9]:
num1=int(input("Enter The First Number"))
num2=int(input("Enter The Second Number"))
#logical And
if(num1>num2 and num1==2):#both condition evaluate to true
  print("num1 is greater than num2 and num1 is equal 2")

Enter The First Number2
Enter The Second Number1
num1 is greater than num2 and num1 is equal 2

In [11]:
num1=int(input("Enter The First Number"))
num2=int(input("Enter The Second Number"))
#logical or
if(num1>num2 or num1==num2):#atleast one  condition evaluate to true
  print("num1 is greater than num2 or num1 is equal to num2")

Enter The First Number4
Enter The Second Number4
num1 is greater than num2 or num1 is equal to num2

In [13]:
num1=int(input("Enter The First Number"))
num2=int(input("Enter The Second Number"))
#logical not
if(not(num1>num2)):
  print("num1 is smaller than num 2")

Enter The First Number4
Enter The Second Number5
num1 is smaller than num 2

Check The Identity Of The Variable

In [19]:
a=5
b=5
c=b
d=10
print(a is b)
print(c is b)
print(d is b)

True
True
False

Perform The Bitwise Operation On Two Number

In [22]:
num1=int(input("Enter The First Number"))
num2=int(input("Enter The Second Number"))
print(num1|num2)#bitwise or
print(num1&num2)#bitwise and
print(num1^num2)#bitwise xor
print(num1<<num2)#bitwise left shift
print(num1>>num2)#bitwise right shift
print(~(num1))#unary bitwise negation operation on num1

Enter The First Number10
Enter The Second Number2
10
2
8
40
2
-11

Use The Unary Operator To Change The Sign Of The Number

In [1]:
num1=int(input("enter The first number"))
num2=-num1
print(num2)

enter The first number5
-5

Use The Ternary Operator To Assign The Values Based On The Condition

In [7]:
marks=int(input("Please Enter Your Marks"))
result="pass"if marks>=40 else "fail"
print(result)

Please Enter Your Marks45
pass